<div class="sidebar">
  <div class="side-header">
    <img src="/assets/malihaa.svg" alt="Budget Icon" class="budget-icon" />
    <h1>MyBudget</h1>
  </div>
  <div class="sidenav">
    <a
      *ngIf="!isAdmin"
      class="nav-link"
      routerLink="/dashboard"
      routerLinkActive="active"
    >
      <i class="material-icons">dashboard</i>Dashboard
    </a>

    <a
      *ngIf="!isAdmin"
      class="nav-link"
      routerLink="/expenses"
      routerLinkActive="active"
    >
      <i class="material-icons">receipt_long</i> Expenses
    </a>

    <a
      *ngIf="!isAdmin"
      class="nav-link"
      routerLink="/invoicing"
      routerLinkActive="active"
    >
      <i class="material-icons">request_quote</i> Invoicing
    </a>

    <a
      *ngIf="isAdmin"
      class="nav-link"
      routerLink="/user-management"
      routerLinkActive="active"
    >
      <i class="material-icons">people</i> User Management
    </a>

  <a
  class="nav-link"
  routerLink="/contact-us"
  routerLinkActive="active"
>
  <i class="material-icons">mail_outline</i> Contact Us
</a>

 <div class="nav-item">
  <a
    (click)="logout()"
    class="nav-link logout-link"
    style="cursor: pointer"
  >
    <i class="material-icons">logout</i>
    <span style="margin-left: 8px;">Logout</span>
  </a>
</div>

  </div>
</div>
