<div class="sidebar">
  <div class="side-header">
    <h1>MyBudget</h1>
  </div>

  <div class="sidenav">
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
      <i class="material-icons">dashboard</i>Dashboard
    </a>
    
    <a class="nav-link" routerLink="/expenses" routerLinkActive="active">
      <i class="material-icons">receipt_long</i> Expenses
    </a>
    
    <a class="nav-link" routerLink="/invoicing" routerLinkActive="active">
      <i class="material-icons">request_quote</i> Invoicing
    </a>
    
    <a class="nav-link" routerLink="/settings" routerLinkActive="active">
      <i class="material-icons"></i> Settings
    </a>
  </div>
</div>