<div class="page-wrapper">
<div class="pricing-container">
    <div class="pricing-card featured" onclick="selectCard(this)">
        <h3>Advanced iOS</h3>
        <p class="price">$199.99</p>
        <ul>
          <li>Advanced Swift Concepts</li>
          <li>Complex UI Design</li>
          <li>6-Month Access</li>
          <li>Access to Weekly Webinars</li>
        </ul>
        <button class="btn">Choose Advanced iOS</button>
      </div>
    <div class="pricing-card featured" onclick="selectCard(this)">
      <h3>Advanced iOS</h3>
      <p class="price">$199.99</p>
      <ul>
        <li>Advanced Swift Concepts</li>
        <li>Complex UI Design</li>
        <li>6-Month Access</li>
        <li>Access to Weekly Webinars</li>
      </ul>
      <button class="btn">Choose Advanced iOS</button>
    </div>

</div>
  </div>